# IntelliJ:
*.ipr
*.iws
*.iml
out/
.idea/

# Gradle:
build/
.gradle
config/version.properties

# Python / Fabric
venv/
*.pyc

# sbt specific
.cache
.history
.lib/
dist/*
target/
project/target/*
lib_managed/
src_managed/
project/

# vagrant
!Vagrantfile
cassandra/cassandra_deploy/vagrant/*

# Misc
*.gz
*.class
*.log
*.jar

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
